<body>

  <h1>  EMOJI Spirit Guide Advice </h1>
    <img src = "https://i.pinimg.com/736x/a1/b0/9e/a1b09e36bb46b5547aee8642b0e3bb60.jpg" width ="100" height ="100"> 

    <h2> <span style="font-style: italic"><a style="color: purple;"> An Emoji Spirit Guide will give you advice today... </a> </span> </h2>

      <p><b>Current Date & Time :</b> <%= @now %> </p>

  <form action="/prediction">
      <button type="submit" class="btn btn-dark">EMOJI GUIDE ME!</button>
  </form>

</body>
  
 
