<body>
  <h1>Emoji Spirit Guide</h1>

  <div>
    <p>Your emoji spirit guide:</p>
      <p> <%= @html %> </p>
   <p> Is trying to tell you....</p>
      <p><span style="font-style: italic"><%= @advice %></span></p>
  </div>

  <div>
  <form action="/">
    <button type="submit" class="btn btn-dark">Back</button>
  </form>
  </div>

</body>
