<body>
  <h1>Spirit Emoji Guide</h1>
  
  <div>
    <p>Your emoji spirit guide:</p>
    <%= @html %>
   <p> Is trying to tell you....</p>
    <%= @advice %>
  </div>

  <div>
  <form action="/">
    <button type="submit" class="btn btn-dark">Back</button>
  </form>
  </div>

</body>
